.post-replies-container {
    width: 100vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    gap: 2vh;
    height: fit-content;
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: center;
    overflow-y: scroll;
}



.replies-container{
    width: 90vw;
}