.post-replies-container {
    width: 100vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: center;
    overflow: auto;
    overflow-y: scroll;
}

.cat-container{
    font-family: 'Japandi',sans-serif;
    color: #ffffff;
    font-size: 3.3vw;
    text-align: center;
}

.gato-texto{
    bottom: 0;
    width: 100%;
    text-align: center;
    right: 0vw;
    padding: 1vw 2vh;
}


#cat{
    width: 60vw;
    height: 30vh;
    background-image: url("../../assets/images/icons/cat_no_replies.svg");
    background-repeat: no-repeat;
    text-align: center;
    position: static;
    right: 22vw;
}


.replies-container{}