.post-feed-container {
    margin-top: 2vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    align-items: center;
    overflow: scroll;
    margin-bottom: 10vh;
}

.post-feed-page {
    width: 100vw;
    height: 120vh;
    border: none;
    background-color: transparent;
    background-image: url("../../assets/images/pizza_example.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

