.postCardTitle{
}

.fullScreenPostPage {
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: transparent;
    background-image: url("../../assets/images/pizza_example.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: 0;
    background-image: url("../../assets/images/icons/NavImage.svg");
    background-size: 100% 180%;
    background-repeat: no-repeat;
}

.userInfo{
    padding-left: 5vw;
}

.polkadotLogo {
    width: 15vw;
    height: 100%;
    grid-row: 1 / -1;
    background-image: url("../Profile/icons/polkadot-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.accountInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: fit-content;
}

.userName{
    flex: 1;
    font-family: 'Japandi',sans-serif;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 0vw;
    margin-block: 0;
}

.actorId {
    font-size: 1.5rem;
    color: white;
    font-family: 'Japandi', sans-serif;
    margin-block: 0;
}

.textPost{
    display: flex;
    align-items: flex-end;
    padding-left: 5vw;
    font-family: 'Japandi',sans-serif;
    color: #ffffff;
    font-size: 5.5vw;
    margin-bottom: 0vw;
}


.postCardButtonOutsideContainer{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5vw;
}

.postCardButtonInnerContainer{
    width: 55%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vw;
}

.postCardSave{
    background-image: url("../../components/layout/PostCard/icons/postCardSave.svg")
}
.postCardShare{
    background-image: url("../../components/layout/PostCard/icons/postCardShare.svg")
}
.postCardBan{
    background-image: url("../../components/layout/PostCard/icons/postCardBan.svg")
}
.cardPostAddButton{
    background-image: url("../../assets/images/icons/AddPostBtn_White.svg");
    width: 6.8vh;
    height: 6.8vh;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10vw;
}
