.headerContainer {
    position: fixed;
    top:0;
    display: flex;
    width: 100vw;
    height: 8.5vh;
    flex-direction: row;
    gap: 5vw;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #121212;
}

.logoTextSerenium{
    width: 40vw;
    margin: 1vw;
    height: 40vw;
    background-color:transparent;
    background-image: url("./../../../assets/images/icons/sereniumText.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.dropdownButtonMenu{
    margin: 1vw;
    width: 5.5vh;
    height: 5.5vh;
    background-color: transparent;
    background-image: url("./../../../assets/images/icons/sideMenuIcon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

.walletValue {
    color: white;
    font-family: 'Japandi',sans-serif;
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

.accountButtonPol{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Japandi',sans-serif;
    font-size: 4.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 2vw;
}

.token-balance {
    font-size: 0.5em;
}

.back-btn {
    width: 5.5vh;
    height: 5vh;
    border: none;
    background-color: transparent;
    background-image: url("./../../../assets/images/icons/back-btn.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-serenium {
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url("./../../../assets/images/icons/logo-serenium.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.full-screen-header-style {
    background-color: transparent;
    background-image: url("./../../../assets/images/icons/full-screen-header-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 180%;
    height: 8vh;
    width: 100vw;
}