.tagContainer {
    border: 2px solid white;
    border-radius: 12px;
    background-color: transparent;
    min-width: 5vw;
    height: fit-content;
    padding: 0 1%;
}

.tagText {
    font-family: 'Japandi', sans-serif;
    font-size: 0.6rem;
    color: #ffffff;
    margin-block: 0.5em;
}
