@font-face {
    font-family: 'Japandi';
    src: local('Japandi Bold'), local('JapandiBold'),
    url('./../../../assets/fonts/JapandiBold.woff2') format('woff2'),
    url('./../../../assets/fonts/JapandiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Japandi';
    src: local('Japandi'), local('JapandiRegular'),
    url('./../../../assets/fonts/JapandiRegular.woff2') format('woff2'),
    url('./../../../assets/fonts/JapandiRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.post-card-body{
    min-height: fit-content;
    width: 90vw;
    background-color: #1E1E1E;

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.cardHeader{
    width: 100%;
    height: 60px;
    background-color: transparent;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:8px 8px 0 0;
}
.cardHeaderQuestion{
   background-image: url("./icons/headerBgQuestion.svg");
}
.cardHeaderChallenge{
   background-image: url("./icons/headerBgChallenge.svg");
}

.postCardTitle{
    font-family: 'Japandi',sans-serif;
    color: #ffffff;
    font-size: 5.5vw;
}

.postCardContent{
    color:#C1C1C1;
    font-family: 'Japandi',sans-serif;
    font-size: 4vw;
}
.postCardButtonOutsideContainer{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.postCardButtonInerContainer{
    width: 55%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vw;
}

.cardPostAddButton{
    width: 6.8vh;
    height: 6.8vh;
    border: none;
    background-color: transparent;
    background-image: url("./icons/AddPostBtn.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.cardPostAddButtonBlocked {
    background-image: url("./icons/lock.svg");
}

.postCardActionButton{
    width: 8.5vw;
    height: 8.5vw;
    background-color: transparent;
    border:none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tags-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

#postCardLike{
    background-image: url("./icons/postCardLike.svg")
}

#postCardSave{
    background-image: url("./icons/postCardSave.svg")
}
#postCardShare{

    background-image: url("./icons/postCardShare.svg")
}
#postCardBan{
    background-image: url("./icons/postCardBan.svg")
}
