
.newPostContainer {
    font-family: 'Japandi', sans-serif;
    color: #ffffff;
    padding: 15vh 5vw 1vh;
    background-color: #121212;
    background-image: url("./newPostChallengeBG.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 7.4vh;
    width: 100vw;
 /*   top:8.5vh;*/
   /* height: 92.5vh;*/
    height: 84.1vh;
    overflow: hidden;
}

.new-post-input {
    background-color: transparent;
    border: none;
    caret-color: #ffffff;
    color: #ffffff;
    padding: 2%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#add-tags-btn {
    background-color: transparent;
    color: #ffffff;
    border: none;
    width: fit-content;
}

#post-title {
    font-size: 8vw;
    width: 85vw;
    border: none;
    outline: none;
}
#post-title::selection{
    border: none;
}

#content-input {
    min-height: fit-content;
    height: 35vh;
    outline: none;
}

#upper-section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.new-post-upper-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#lower-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#photo-input {
    display: none;
}

#photo-upload-icon {
    background-color: transparent;
    background-image: url("../../assets/images/icons/photo-upload-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 4vh;
    width: 4vh;
}

#publish-post-btn {
    border: none;
    border-radius: 12px;
    height: 4vh;
    width: 30vw;
    background: rgb(255,0,92);
    background: linear-gradient(45deg, rgba(255,0,92,1) 30%, rgba(115,3,238,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.publish-post-btn-text {
    color: #ffffff;
    font-weight: bold;
    margin-block: 0.1em;
    font-size: 1.2rem;
}

.add-post-svg {
    background-color: transparent;
    background-image: url("../../assets/images/icons/add-post-svg.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vh;
}

