
.new-post-container {
    font-family: 'Japandi', sans-serif;
    color: #ffffff;
    padding: 15vh 5vw 2.5vh;
    background-color: black;
    width: 100vw;
    height: 92.5vh;
    overflow: hidden;
}

.new-post-input {
    background-color: transparent;
    border: none;
    caret-color: #ffffff;
    color: #ffffff;
    padding: 2%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#add-tags-btn {
    background-color: transparent;
    color: #ffffff;
    border: none;
    width: fit-content;
}

#post-title {
    font-size: 2rem;
}

#content-input {
    min-height: fit-content;
    height: 50vh;
}

#upper-section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#lower-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#photo-input {
    display: none;
}

#photo-upload-icon {
    background-color: transparent;
    background-image: url("../../assets/images/icons/photo-upload-icon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 4vh;
    width: 4vh;
}

#publish-post-btn {
    border: none;
    border-radius: 12px;
    height: 4vh;
    width: 30vw;
    background: rgb(255,0,92);
    background: linear-gradient(45deg, rgba(255,0,92,1) 30%, rgba(115,3,238,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.publish-post-btn-text {
    color: #ffffff;
    font-weight: bold;
    margin-block: 0.1em;
    font-size: 1.2rem;
}

.add-post-svg {
    background-color: transparent;
    background-image: url("../../assets/images/icons/add-post-svg.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vh;
}

