
@font-face {
    font-family: 'Japandi';
    src: local('Japandi Bold'), local('JapandiBold'),
    url('../../../assets/fonts/JapandiBold.woff2') format('woff2'),
    url('../../../assets/fonts/JapandiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Japandi';
    src: local('Japandi'), local('JapandiRegular'),
    url('../../../assets/fonts/JapandiRegular.woff2') format('woff2'),
    url('../../../assets/fonts/JapandiRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.replies-container {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin: 0 2%;
}

.replyCard{
    font-family: 'Japandi',sans-serif;
    min-height: fit-content;
    height: fit-content;
    max-height: 15vh;
    min-height: fit-content;
    background-color: #282828;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 9fr 1fr;
    grid-template-columns: 8fr 1fr;
    padding: 3%;
}
.replyCardContent{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: start;
    align-self: center;
}
.contet-reply-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
}

.replyLeftContainer {
    display: flex;
    flex-direction: column;
}

.expanded{
    min-height: 50vh;
}

.button-reply-container{
    width: 5vh;
    height: 8vh;
    display: flex;
    flex-direction: column;
}

.replyTitle {
    margin: 0;
    font-size: 1rem;
    grid-row: 1;
    grid-column: 1 / 2;
    width: fit-content;
    height: fit-content;
    color: #ffffff;
}

.replyContent {
    font-size: 0.7rem;
    margin: 0;
    grid-row: 2 / 3;
    color: #C1C1C1;
}

.replyIcon {
    width: 6vh;
    height: 6vh;
    border: none;
    background-color: transparent;
    background-image: url("./icons/reply_text_question.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.replyIconContainer {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    padding: 10%;
    justify-self: center;
    align-self: center;
}

.replyCardLikeButton {
    background-image: url("./icons/like.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 3vh;
    height: 3vh;
    border: none;
}
