
#root {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  background:white; 
}

main {
  background: white;
  background-size: 200% 200%;
  animation: gradientAnimation 5s linear infinite;
}


body {
  background: white;
  background-size: 200% 200%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blue-rectangle {
  width: 100px; /* Ancho del rectángulo */
  height: 50px; /* Alto del rectángulo */
  background-color: blue; /* Color de fondo azul */
  margin: 10px; /* Espacio exterior para separar los rectángulos */
  display: inline-block; /* Hace que los rectángulos se muestren en línea */
}
.rectangles-container {
  display: flex; /* Establece un contenedor flexible para los rectángulos */
  flex-wrap: wrap; /* Permite que los rectángulos se envuelvan si el espacio es insuficiente */
}